## [Start] Setting "status" to default value of "PLACED". **
$util.qr($context.args.input.put("status", $util.defaultIfNull($ctx.args.input.status, "PLACED")))
## [End] Setting "status" to default value of "PLACED". **
{}